doctype html
html
    head
        script(src="https://code.jquery.com/jquery-3.3.1.min.js", integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=", 
  crossorigin="anonymous", type="text/javascript")
        script(src="../js/announcements-parser.js", type="text/javascript")
        script(src="../js/utilities.js", type="text/javascript")
        link(rel='stylesheet' href='../css/editing.css')
    body
        h1#category announcements
        div.container
            each announcement in data
                div.entry
                    h3 announcement
                    div.legend title
                    input.title.entry-field(value= announcement.title)
                    div.legend date
                    input.date.entry-field(value= announcement.date)
                    div.legend location
                    input.location.entry-field(value= announcement.location)
                    div.legend description
                    textarea.desc.entry-field(cols=80, rows=5)= announcement.description
                    div.legend link url + text
                    div.links
                        input.url.entry-field(value= announcement.links.url, placeholder= 'url')
                        input.text.entry-field(value= announcement.links.text, placeholder= 'text')
                br
            div.footer
                button(onclick="parse()") Click to Save
