@font-face {
	font-family: "Elianto";
	src: url("fonts/Elianto-Regular.ttf");
	src:
	url("fonts/Elianto-Regular.otf") format("opentype"),;
	}

	/* <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet"> */


body {
	margin: 0;
	padding: 0;
	font-family: 'Source Sans Pro', 'Inter UI', Trebuchet MS;
}

h1{
	background-color: #57068C;
	color: white;
	height: 80px;
	font-size: 60px;
	font-family: 'Elianto-Regular', sans-serif;
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	margin: 0;
	text-align: center;
}

h3 {
	font-family: 'Raleway';
	font-size: 1.8em;
}

p, textarea, li {
	margin-top: 0.5em;
	font-size: 16px;
	color: black;
}

@media (max-aspect-ratio: 1/1){
	h3{
		font-size: 2.5em;
	}
	p{
		font-size: 22px;
	}
	.legend{
		font-size: 1.7em;
	}
	button {
		font-size: 1.5em;
	}
}

/* p.startTime {
	float: left;
	width: 50%;
}

p.endTime {
	float: right;
	width: 50%;
} */

.container {
	margin-top: 100px;
	width: 80%;
	margin-left: 6%;
}

.entry {
	width: 100%;
	float: left;
	border: 3px solid black;
	margin: 2%;
	padding: 2%;
}

.legend {
	font-size: 1.3em;
	font-weight: normal;
	margin-top: 20px;
	width: 100%;
	float: center;
}

.current {
	height: 15px;
	width: 15px;
}

.footer {
	position: fixed;
	bottom: 0;
	right: 0;
	width: 25%;
	background-color: black;
}

.footer button {
	margin: 0;
	height: 50px;
	width: 100%;
	border: 3px solid white;
	background-color: black;
	color: white;
	font-size: 1.5em;
	font-weight: bold;
	cursor: pointer;
}

button {
	margin-top: 1em;
	position: relative;
	border: 0.1em solid black;
	background-color: white;
	cursor: pointer;
}
